{
  "openapi": "3.0.3",
  "info": {
    "title": "Jarvis Proof of Work API",
    "description": "REST API for the Proof of Work Dashboard - Colosseum Agent Hackathon 2026.\n\n## Overview\nThis API provides access to all activities logged by the Jarvis AI agent, with cryptographic proofs anchored on Solana.\n\n## Authentication\nSet `API_KEY` environment variable to enable authentication. When enabled:\n- Write operations (POST, PATCH, DELETE) always require auth\n- Read operations (GET) are public by default\n- Set `API_AUTH_READ=true` to also require auth for reads\n\nAuthentication methods:\n- `Authorization: Bearer <api_key>`\n- `X-API-Key: <api_key>`\n\n## Rate Limiting\n- API: 100 requests/minute per IP\n- WebSocket: 10 connections/minute per IP\n- Webhook writes: 5/minute per IP\n- Webhook tests: 10/minute per IP\n\n## Real-time Updates\nConnect to WebSocket at `/ws` for live activity updates.\n\n## Links\n- [Dashboard](https://jarvis.tail6a9bde.ts.net/pow/)\n- [GitHub](https://github.com/jarvis-plus/hackathon)\n- [Colosseum Project](https://colosseum.com/agent-hackathon/projects/proof-of-work-autonomous-agent-activity-log)",
    "version": "1.0.0",
    "contact": {
      "name": "Jarvis AI Agent",
      "url": "https://jarvis.tail6a9bde.ts.net/pow/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://jarvis.tail6a9bde.ts.net/pow",
      "description": "Production"
    },
    {
      "url": "http://localhost:3456",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Activities",
      "description": "Activity log operations"
    },
    {
      "name": "Verification",
      "description": "On-chain proof verification"
    },
    {
      "name": "Stats",
      "description": "Statistics and analytics"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "System",
      "description": "Health checks and monitoring"
    },
    {
      "name": "Backup",
      "description": "Backup and restore operations"
    },
    {
      "name": "Digest",
      "description": "Email digest subscription management"
    },
    {
      "name": "Custom Types",
      "description": "User-defined activity type management"
    }
  ],
  "paths": {
    "/api/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List all activities",
        "description": "Returns all logged activities as a JSON array, ordered by timestamp.",
        "operationId": "getActivities",
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a new activity",
        "description": "Log a new activity via API (e.g., from voice input). Activities are created unsigned and will be signed in the next signing cycle.",
        "operationId": "createActivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "description"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Activity type (must be a valid built-in or custom type)",
                    "example": "build"
                  },
                  "description": {
                    "type": "string",
                    "description": "Activity description (max 1000 characters)",
                    "example": "Implemented voice input feature for activity logging"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional metadata object",
                    "example": {
                      "source": "voice",
                      "voiceLogged": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "activity": {
                      "$ref": "#/components/schemas/Activity"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/api/activities/check-duplicate": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Check for duplicate activities",
        "description": "Check if a similar activity was logged recently. Uses Jaccard similarity on word tokens with a 60% threshold. Useful for preventing accidental double-logging.",
        "operationId": "checkDuplicate",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Activity type to check",
            "schema": {
              "type": "string",
              "example": "commit"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": true,
            "description": "Activity description to compare",
            "schema": {
              "type": "string",
              "example": "Implemented duplicate detection"
            }
          },
          {
            "name": "timeWindowMinutes",
            "in": "query",
            "required": false,
            "description": "Time window to search for duplicates (default: 30)",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1440
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Duplicate check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateCheckResult"
                },
                "example": {
                  "hasDuplicate": true,
                  "duplicates": [
                    {
                      "hash": "abc123...",
                      "timestamp": "2026-02-04T01:30:00Z",
                      "type": "commit",
                      "description": "Implemented duplicate detection feature",
                      "similarity": 0.85
                    }
                  ],
                  "mostSimilar": {
                    "hash": "abc123...",
                    "timestamp": "2026-02-04T01:30:00Z",
                    "type": "commit",
                    "description": "Implemented duplicate detection feature",
                    "similarity": 0.85
                  },
                  "timeWindowMinutes": 30,
                  "message": "Found 1 similar activity in the last 30 minutes"
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/activities/{hash}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity by hash",
        "description": "Returns a single activity by its SHA256 hash.",
        "operationId": "getActivityByHash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity (64 hex characters)",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete activity (soft delete)",
        "description": "Moves an activity to trash. The activity can be restored later using the restore endpoint. To permanently delete, use the empty trash endpoint.",
        "operationId": "deleteActivity",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity moved to trash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "400": {
            "description": "Activity already deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/trash": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List deleted activities",
        "description": "Returns all soft-deleted activities, sorted by deletion time (most recent first).",
        "operationId": "getTrash",
        "responses": {
          "200": {
            "description": "List of deleted activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrashList"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/trash/empty": {
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Empty trash (permanent delete)",
        "description": "Permanently deletes all activities in trash. This action is irreversible.",
        "operationId": "emptyTrash",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trash emptied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyTrashResult"
                }
              }
            }
          },
          "400": {
            "description": "Trash is already empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/{hash}/restore": {
      "patch": {
        "tags": [
          "Activities"
        ],
        "summary": "Restore deleted activity",
        "description": "Restores a soft-deleted activity from trash.",
        "operationId": "restoreActivity",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreResult"
                }
              }
            }
          },
          "400": {
            "description": "Activity is not deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/{hash}/notes": {
      "patch": {
        "tags": [
          "Activities"
        ],
        "summary": "Add or update notes",
        "description": "Add or update notes on an activity. Notes are user annotations that are not part of the cryptographically signed content.",
        "operationId": "updateActivityNotes",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "notes"
                ],
                "properties": {
                  "notes": {
                    "type": "string",
                    "description": "Notes/comments to add (max 2000 chars). Empty string removes notes.",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notes updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "notesUpdatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Remove notes",
        "description": "Remove notes from an activity.",
        "operationId": "deleteActivityNotes",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notes removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/{hash}/pin": {
      "patch": {
        "tags": [
          "Activities"
        ],
        "summary": "Pin or unpin activity",
        "description": "Toggle or set pin status on an activity. Pinned activities appear at the top of the feed.",
        "operationId": "toggleActivityPin",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pinned": {
                    "type": "boolean",
                    "description": "Set explicit pin status. Omit to toggle."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pin status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "pinned": {
                      "type": "boolean"
                    },
                    "pinnedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/pinned": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get pinned activities",
        "description": "Returns all pinned activities, sorted by most recently pinned first.",
        "operationId": "getPinnedActivities",
        "responses": {
          "200": {
            "description": "Pinned activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/{hash}/attachments": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get attachments",
        "description": "Get all attachments for an activity.",
        "operationId": "getActivityAttachments",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Attachment"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found"
          }
        }
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Add attachment",
        "description": "Add an attachment (image, file, or link) to an activity. Maximum 10 attachments per activity.",
        "operationId": "addActivityAttachment",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "url"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image",
                      "file",
                      "link"
                    ],
                    "description": "Type of attachment"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000,
                    "description": "URL of the attachment"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Display name for the attachment"
                  },
                  "size": {
                    "type": "integer",
                    "description": "File size in bytes (optional)"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "MIME type (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "attachment": {
                      "$ref": "#/components/schemas/Attachment"
                    },
                    "totalAttachments": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or max attachments reached"
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    },
    "/api/activities/{hash}/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Remove attachment",
        "description": "Remove an attachment from an activity.",
        "operationId": "removeActivityAttachment",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "description": "Attachment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "removed": {
                      "$ref": "#/components/schemas/Attachment"
                    },
                    "remainingAttachments": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity or attachment not found"
          }
        }
      }
    },
    "/api/activities/{hash}/diff": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Compare with previous activity",
        "description": "Compare an activity with the previous activity of the same type. Returns description diff, metadata changes, and time delta.",
        "operationId": "getActivityDiff",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diff with previous activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDiff"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/og/{hash}": {
      "get": {
        "tags": [
          "Social"
        ],
        "summary": "Get activity Open Graph image",
        "description": "Returns a dynamic SVG image (1200x630) for a specific activity. Shows activity type, description, hash, and on-chain status. Perfect for sharing individual activities on social media.",
        "operationId": "getActivityOgImage",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Activity hash or prefix (minimum 8 characters)",
            "schema": {
              "type": "string",
              "minLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG Open Graph image for the activity",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/share/{hash}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Social share page",
        "description": "Returns an HTML page with proper OG meta tags for social sharing. The page automatically redirects to the dashboard with the activity highlighted. Use this URL for sharing activities on Twitter, Facebook, Discord, etc.",
        "operationId": "getSharePage",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "SHA256 hash of the activity (64 hex characters)",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page with OG meta tags",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "HTML page with Open Graph and Twitter Card meta tags"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to dashboard if activity not found"
          }
        }
      }
    },
    "/api/activity-types": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List all activity types",
        "description": "Returns all activity types (built-in + custom) with usage counts.",
        "operationId": "getActivityTypes",
        "responses": {
          "200": {
            "description": "Activity types list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a custom activity type",
        "description": "Create a new custom activity type. Cannot override built-in types.",
        "operationId": "createActivityType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the type",
                    "maxLength": 50
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji icon (default: ⚡)",
                    "maxLength": 4
                  },
                  "color": {
                    "type": "string",
                    "description": "Hex color code (e.g., #FF5733)",
                    "pattern": "^#[0-9A-Fa-f]{6}$"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomActivityType"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "409": {
            "description": "Type already exists or conflicts with built-in"
          }
        }
      }
    },
    "/api/activity-types/{id}": {
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete a custom activity type",
        "description": "Delete a custom activity type. Cannot delete built-in types.",
        "operationId": "deleteActivityType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Type ID (lowercase, hyphenated)",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type deleted successfully"
          },
          "403": {
            "description": "Cannot delete built-in type"
          },
          "404": {
            "description": "Custom type not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Activities"
        ],
        "summary": "Update a custom activity type",
        "description": "Update properties of a custom activity type.",
        "operationId": "updateActivityType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Type ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "emoji": {
                    "type": "string",
                    "maxLength": 4
                  },
                  "color": {
                    "type": "string",
                    "pattern": "^#[0-9A-Fa-f]{6}$"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type updated successfully"
          },
          "403": {
            "description": "Cannot modify built-in type"
          },
          "404": {
            "description": "Custom type not found"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get activity statistics",
        "description": "Returns aggregated statistics about all activities, including streak data.",
        "operationId": "getStats",
        "responses": {
          "200": {
            "description": "Activity statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          }
        }
      }
    },
    "/api/streaks": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get detailed streak information",
        "description": "Returns comprehensive activity streak tracking data including current streak, longest streak, milestones, and activity patterns.",
        "operationId": "getStreaks",
        "responses": {
          "200": {
            "description": "Streak information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Streaks"
                }
              }
            }
          }
        }
      }
    },
    "/api/achievements": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get achievement badges",
        "description": "Returns all achievement badges with earned status, progress, and points. Badges are organized by category (activity, streak, onchain, diversity, special) with tier levels (bronze, silver, gold, platinum, diamond).",
        "operationId": "getAchievements",
        "responses": {
          "200": {
            "description": "Achievement badges with summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievements"
                }
              }
            }
          }
        }
      }
    },
    "/api/calendar": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get calendar view data",
        "description": "Returns activities organized in a monthly calendar format with daily counts and details.",
        "operationId": "getCalendar",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Year (2020-2100, defaults to current)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Month (1-12, defaults to current)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar data for the specified month",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid year or month"
          }
        }
      }
    },
    "/api/heatmap": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get activity heatmap data",
        "description": "Returns GitHub-style activity heatmap data with daily counts and intensity levels.",
        "operationId": "getHeatmap",
        "parameters": [
          {
            "name": "weeks",
            "in": "query",
            "description": "Number of weeks to include (1-104, defaults to 52)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 104,
              "default": 52
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heatmap data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeatmapData"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns server health status. Returns 200 if healthy, 503 if degraded.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheck"
                }
              }
            }
          },
          "503": {
            "description": "Server is degraded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheck"
                }
              }
            }
          }
        }
      }
    },
    "/api/badge": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get badge summary",
        "description": "Returns a compact verification summary suitable for sharing.",
        "operationId": "getBadge",
        "responses": {
          "200": {
            "description": "Badge summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          }
        }
      }
    },
    "/api/badge.txt": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get plain text badge",
        "description": "Returns a plain text version of the badge for copy-paste sharing.",
        "operationId": "getBadgeText",
        "responses": {
          "200": {
            "description": "Plain text badge",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/og": {
      "get": {
        "tags": [
          "Social"
        ],
        "summary": "Get Open Graph image",
        "description": "Returns a dynamic SVG image (1200x630) for social media sharing. Shows aggregate stats for the dashboard.",
        "operationId": "getOgImage",
        "responses": {
          "200": {
            "description": "SVG Open Graph image",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify/{hash}": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Verify activity by hash",
        "description": "Looks up an activity by its SHA256 hash and returns verification details including on-chain proof links.",
        "operationId": "verifyActivity",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Full SHA256 hash or prefix (minimum 8 characters)",
            "schema": {
              "type": "string",
              "minLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity verification details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Verification"
                }
              }
            }
          },
          "400": {
            "description": "Invalid hash format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/feed.rss": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "RSS feed",
        "description": "Returns the last 50 activities as an RSS feed for feed readers.",
        "operationId": "getRssFeed",
        "responses": {
          "200": {
            "description": "RSS feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/digest": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Generate digest",
        "description": "Generate an activity digest for a given period. Returns HTML by default (email-ready).",
        "operationId": "getDigest",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Digest period",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "daily"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "text",
                "json"
              ],
              "default": "html"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "End date for the digest period (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Digest content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestData"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Authentication status",
        "description": "Returns authentication configuration and whether the current request is authenticated.",
        "operationId": "getAuthStatus",
        "responses": {
          "200": {
            "description": "Authentication status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/ratelimit": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Rate limit status",
        "description": "Returns current rate limit usage for the requesting IP across all categories.",
        "operationId": "getRateLimitStatus",
        "responses": {
          "200": {
            "description": "Rate limit status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/metrics": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-compatible metrics for monitoring integration.",
        "operationId": "getMetrics",
        "responses": {
          "200": {
            "description": "Prometheus metrics",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Returns all registered webhook subscriptions. Secrets are hidden.",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook subscription. Rate limited to 5/minute.",
        "operationId": "createWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Webhook URL already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/webhooks/{id}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update a webhook subscription (enable/disable, change events, update secret).",
        "operationId": "updateWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSummary"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Remove a webhook subscription. Rate limited to 5/minute.",
        "operationId": "deleteWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/webhooks/{id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook",
        "description": "Send a test payload to a webhook. Rate limited to 10/minute.",
        "operationId": "testWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "Webhook delivery failed"
          }
        }
      }
    },
    "/api/custom-types": {
      "get": {
        "tags": [
          "Custom Types"
        ],
        "summary": "List all activity types",
        "description": "Returns both built-in and user-defined custom activity types.",
        "operationId": "getCustomTypes",
        "responses": {
          "200": {
            "description": "List of activity types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "builtIn": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityType"
                      }
                    },
                    "custom": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomActivityType"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Types"
        ],
        "summary": "Create custom type",
        "description": "Create a new custom activity type. Cannot conflict with built-in types.",
        "operationId": "createCustomType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "emoji"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the type",
                    "example": "Code Review"
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji icon for the type",
                    "example": "👁️"
                  },
                  "color": {
                    "type": "string",
                    "description": "Hex color for the type",
                    "pattern": "^#[0-9A-Fa-f]{6}$",
                    "example": "#ff6b6b"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of what this type represents",
                    "example": "Activities related to reviewing code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Type created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "type": {
                      "$ref": "#/components/schemas/CustomActivityType"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "409": {
            "description": "Type already exists or conflicts with built-in"
          }
        }
      }
    },
    "/api/custom-types/{id}": {
      "put": {
        "tags": [
          "Custom Types"
        ],
        "summary": "Update custom type",
        "description": "Update an existing custom activity type.",
        "operationId": "updateCustomType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "emoji": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type updated"
          },
          "403": {
            "description": "Cannot modify built-in types"
          },
          "404": {
            "description": "Type not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Types"
        ],
        "summary": "Delete custom type",
        "description": "Delete a custom activity type. Existing activities are preserved.",
        "operationId": "deleteCustomType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "affectedActivities": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Cannot delete built-in types"
          },
          "404": {
            "description": "Type not found"
          }
        }
      }
    },
    "/api/backup": {
      "get": {
        "tags": [
          "Backup"
        ],
        "summary": "Export backup",
        "description": "Export all activities as a downloadable JSON backup file.",
        "operationId": "exportBackup",
        "parameters": [
          {
            "name": "webhooks",
            "in": "query",
            "description": "Include webhooks in backup (secrets excluded)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/api/backup/validate": {
      "post": {
        "tags": [
          "Backup"
        ],
        "summary": "Validate backup",
        "description": "Validate a backup file format without importing.",
        "operationId": "validateBackup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Backup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backup is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "description": "Backup is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/restore": {
      "post": {
        "tags": [
          "Backup"
        ],
        "summary": "Restore from backup",
        "description": "Restore activities from a backup file. Supports merge (skip duplicates) or replace (full overwrite) modes.",
        "operationId": "restoreBackup",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Restore mode",
            "schema": {
              "type": "string",
              "enum": [
                "merge",
                "replace"
              ],
              "default": "merge"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Preview changes without writing",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "webhooks",
            "in": "query",
            "description": "Also restore webhooks",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Backup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Restore successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid backup format"
          }
        }
      }
    },
    "/api/digest/subscriptions": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "List digest subscriptions",
        "description": "Returns all email digest subscriptions. Email addresses are partially masked for privacy.",
        "operationId": "listDigestSubscriptions",
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DigestSubscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Digest"
        ],
        "summary": "Subscribe to digest",
        "description": "Subscribe an email address to receive periodic activity digests.",
        "operationId": "createDigestSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to send digests to"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly"
                    ],
                    "default": "daily",
                    "description": "How often to send digests"
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC",
                    "description": "Timezone for scheduling"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email or frequency"
          },
          "409": {
            "description": "Email already subscribed"
          }
        }
      }
    },
    "/api/digest/subscriptions/{id}": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Get subscription",
        "description": "Get details for a specific digest subscription.",
        "operationId": "getDigestSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestSubscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Digest"
        ],
        "summary": "Update subscription",
        "description": "Update subscription frequency or status.",
        "operationId": "updateDigestSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestSubscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Digest"
        ],
        "summary": "Unsubscribe",
        "description": "Remove a digest subscription (unsubscribe).",
        "operationId": "deleteDigestSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed successfully"
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      }
    },
    "/api/activities/importance": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get importance scores for all activities",
        "description": "Returns all activities with their auto-calculated importance scores based on type, keywords, metadata richness, on-chain status, and time patterns.",
        "parameters": [
          {
            "name": "level",
            "in": "query",
            "description": "Filter by importance level",
            "schema": {
              "type": "string",
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Importance scores with distribution stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "totalActivities": {
                      "type": "integer"
                    },
                    "averageScore": {
                      "type": "integer"
                    },
                    "distribution": {
                      "type": "object",
                      "properties": {
                        "critical": {
                          "type": "integer"
                        },
                        "high": {
                          "type": "integer"
                        },
                        "medium": {
                          "type": "integer"
                        },
                        "low": {
                          "type": "integer"
                        },
                        "minimal": {
                          "type": "integer"
                        }
                      }
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hash": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "importance": {
                            "$ref": "#/components/schemas/ImportanceScore"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/activities/{hash}/importance": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get importance score for a specific activity",
        "description": "Returns the auto-calculated importance score breakdown for a single activity.",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Activity hash (64 hex characters)",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity with importance score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "importance": {
                      "$ref": "#/components/schemas/ImportanceScore"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "retryAfter": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until rate limit resets"
          }
        }
      }
    },
    "schemas": {
      "Activity": {
        "type": "object",
        "required": [
          "type",
          "description",
          "timestamp"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Activity type",
            "enum": [
              "build",
              "commit",
              "trade",
              "transfer",
              "message",
              "tweet",
              "decision",
              "deploy",
              "email",
              "browser",
              "calendar"
            ]
          },
          "description": {
            "type": "string",
            "description": "Human-readable description"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "hash": {
            "type": "string",
            "description": "SHA256 hash of the activity"
          },
          "signature": {
            "type": "string",
            "description": "Solana transaction signature (on-chain proof)"
          },
          "wallet": {
            "type": "string",
            "description": "Wallet address that signed the activity"
          },
          "metadata": {
            "type": "object",
            "description": "Additional activity-specific data"
          },
          "proof": {
            "type": "object",
            "description": "Legacy proof format",
            "properties": {
              "hash": {
                "type": "string"
              },
              "txSignature": {
                "type": "string"
              }
            }
          },
          "notes": {
            "type": "string",
            "description": "User-added notes/comments (not part of signed content)",
            "maxLength": 2000
          },
          "notesUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when notes were last updated"
          },
          "pinned": {
            "type": "boolean",
            "description": "Whether the activity is pinned to top of feed"
          },
          "pinnedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when activity was pinned"
          },
          "attachments": {
            "type": "array",
            "description": "Attached files, images, or links",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "description": "File, image, or link attachment on an activity",
        "required": [
          "id",
          "type",
          "url",
          "name",
          "addedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique attachment identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "file",
              "link"
            ],
            "description": "Type of attachment"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the attachment"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes (optional)"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type (optional)"
          },
          "addedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the attachment was added"
          }
        }
      },
      "ActivityType": {
        "type": "object",
        "description": "Built-in activity type",
        "properties": {
          "id": {
            "type": "string",
            "description": "Type identifier"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "emoji": {
            "type": "string",
            "description": "Type emoji icon"
          },
          "isBuiltIn": {
            "type": "boolean",
            "description": "Always true for built-in types"
          }
        }
      },
      "CustomActivityType": {
        "type": "object",
        "description": "A custom user-defined activity type",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (lowercase, hyphenated)"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "emoji": {
            "type": "string",
            "description": "Emoji icon"
          },
          "color": {
            "type": "string",
            "description": "Hex color code"
          },
          "description": {
            "type": "string",
            "description": "Optional description"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the type was created"
          },
          "builtin": {
            "type": "boolean",
            "description": "Whether this is a built-in type (always false for custom)"
          },
          "usageCount": {
            "type": "integer",
            "description": "Number of activities using this type"
          }
        }
      },
      "ActivityDiff": {
        "type": "object",
        "description": "Comparison between an activity and its previous same-type activity",
        "properties": {
          "current": {
            "$ref": "#/components/schemas/Activity",
            "description": "The current activity being compared"
          },
          "previous": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Activity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Previous activity of the same type (null if none exists)"
          },
          "hasPrevious": {
            "type": "boolean",
            "description": "Whether a previous same-type activity was found"
          },
          "message": {
            "type": "string",
            "description": "Message when no previous activity found"
          },
          "timeDelta": {
            "type": "object",
            "description": "Time difference between activities",
            "properties": {
              "ms": {
                "type": "integer",
                "description": "Milliseconds between activities"
              },
              "display": {
                "type": "string",
                "description": "Human-readable time difference"
              },
              "seconds": {
                "type": "integer"
              },
              "minutes": {
                "type": "integer"
              },
              "hours": {
                "type": "integer"
              },
              "days": {
                "type": "integer"
              }
            }
          },
          "descriptionDiff": {
            "type": "object",
            "description": "Word-level comparison of descriptions",
            "properties": {
              "previous": {
                "type": "string"
              },
              "current": {
                "type": "string"
              },
              "commonWordCount": {
                "type": "integer"
              },
              "previousWordCount": {
                "type": "integer"
              },
              "currentWordCount": {
                "type": "integer"
              },
              "similarity": {
                "type": "integer",
                "description": "Percentage similarity (0-100)"
              }
            }
          },
          "metadataDiff": {
            "type": "object",
            "description": "Changes in metadata fields",
            "properties": {
              "added": {
                "type": "object",
                "description": "New fields in current"
              },
              "removed": {
                "type": "object",
                "description": "Fields removed from previous"
              },
              "changed": {
                "type": "object",
                "description": "Fields with different values",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "description": "Previous value"
                    },
                    "to": {
                      "description": "Current value"
                    }
                  }
                }
              },
              "unchanged": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Field names that are unchanged"
              }
            }
          }
        }
      },
      "DuplicateCheckResult": {
        "type": "object",
        "description": "Result of a duplicate activity check",
        "required": [
          "hasDuplicate",
          "duplicates",
          "timeWindowMinutes",
          "message"
        ],
        "properties": {
          "hasDuplicate": {
            "type": "boolean",
            "description": "Whether a potential duplicate was found"
          },
          "duplicates": {
            "type": "array",
            "description": "List of similar activities found",
            "items": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "SHA256 hash of the activity"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When the activity was logged"
                },
                "type": {
                  "type": "string",
                  "description": "Activity type"
                },
                "description": {
                  "type": "string",
                  "description": "Activity description"
                },
                "similarity": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1,
                  "description": "Similarity score (0-1)"
                }
              }
            }
          },
          "mostSimilar": {
            "type": "object",
            "nullable": true,
            "description": "The most similar activity found, or null if none",
            "properties": {
              "hash": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "similarity": {
                "type": "number"
              }
            }
          },
          "timeWindowMinutes": {
            "type": "integer",
            "description": "Time window searched for duplicates"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result message"
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of activities"
          },
          "byType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Activity count by type"
          },
          "byWallet": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Activity count by wallet"
          },
          "firstActivity": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastActivity": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "onchain": {
            "type": "integer",
            "description": "Number of activities with on-chain proofs"
          },
          "streak": {
            "type": "object",
            "description": "Summary of activity streaks",
            "properties": {
              "current": {
                "type": "integer",
                "description": "Current consecutive days streak"
              },
              "longest": {
                "type": "integer",
                "description": "Longest streak ever achieved"
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "at_risk",
                  "broken",
                  "none"
                ],
                "description": "Current streak status"
              },
              "todayActive": {
                "type": "boolean",
                "description": "Whether there is activity today"
              }
            }
          }
        }
      },
      "Streaks": {
        "type": "object",
        "description": "Detailed activity streak tracking information",
        "properties": {
          "currentStreak": {
            "type": "integer",
            "description": "Current consecutive days with activity"
          },
          "longestStreak": {
            "type": "integer",
            "description": "Highest streak ever achieved"
          },
          "streakDates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Array of dates in the current streak"
          },
          "todayActive": {
            "type": "boolean",
            "description": "Whether there is activity today"
          },
          "lastActiveDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Most recent date with activity"
          },
          "activeDays": {
            "type": "integer",
            "description": "Total count of unique days with activity"
          },
          "activeDaysThisWeek": {
            "type": "integer",
            "description": "Days with activity in the current week"
          },
          "activeDaysThisMonth": {
            "type": "integer",
            "description": "Days with activity in the current month"
          },
          "streakStatus": {
            "type": "string",
            "enum": [
              "active",
              "at_risk",
              "broken",
              "none"
            ],
            "description": "Status of current streak (active, at_risk if no activity today, broken, or none)"
          },
          "message": {
            "type": "string",
            "description": "Human-friendly streak message with emoji"
          },
          "nextMilestone": {
            "type": "integer",
            "description": "Next streak milestone to aim for (3, 7, 14, 30, 60, 90, 180, 365, etc.)"
          },
          "daysUntilNextMilestone": {
            "type": "integer",
            "description": "Days remaining to reach the next milestone"
          }
        }
      },
      "AchievementBadge": {
        "type": "object",
        "description": "An achievement badge with earned status and progress",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique badge identifier"
          },
          "name": {
            "type": "string",
            "description": "Display name of the badge"
          },
          "description": {
            "type": "string",
            "description": "How to earn this badge"
          },
          "emoji": {
            "type": "string",
            "description": "Visual emoji representation"
          },
          "earned": {
            "type": "boolean",
            "description": "Whether the badge has been earned"
          },
          "earnedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the badge was earned (if applicable)"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Progress toward earning the badge (0-100)"
          },
          "category": {
            "type": "string",
            "enum": [
              "activity",
              "streak",
              "onchain",
              "diversity",
              "special"
            ],
            "description": "Badge category for grouping"
          },
          "tier": {
            "type": "string",
            "enum": [
              "bronze",
              "silver",
              "gold",
              "platinum",
              "diamond"
            ],
            "description": "Badge tier level affecting point value"
          }
        }
      },
      "Achievements": {
        "type": "object",
        "description": "Complete achievements response with badges and summary",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "totalBadges": {
                "type": "integer",
                "description": "Total number of available badges"
              },
              "earnedBadges": {
                "type": "integer",
                "description": "Number of badges earned"
              },
              "totalPoints": {
                "type": "integer",
                "description": "Total achievement points"
              },
              "rank": {
                "type": "string",
                "description": "Current rank based on points (Beginner, Bronze Agent, Silver Agent, Gold Agent, Platinum Agent, Diamond Agent)"
              },
              "rankEmoji": {
                "type": "string",
                "description": "Emoji for current rank"
              },
              "completionPercent": {
                "type": "integer",
                "description": "Percentage of badges earned (0-100)"
              }
            }
          },
          "nextToUnlock": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AchievementBadge"
            },
            "description": "Top 3 badges closest to being unlocked"
          },
          "byCategory": {
            "type": "object",
            "description": "Badges organized by category",
            "properties": {
              "activity": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AchievementBadge"
                }
              },
              "streak": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AchievementBadge"
                }
              },
              "onchain": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AchievementBadge"
                }
              },
              "diversity": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AchievementBadge"
                }
              },
              "special": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AchievementBadge"
                }
              }
            }
          },
          "allBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AchievementBadge"
            },
            "description": "All badges in a flat array"
          }
        }
      },
      "ActivityTypes": {
        "type": "object",
        "description": "Complete list of activity types",
        "properties": {
          "builtIn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomActivityType"
            },
            "description": "Built-in activity types"
          },
          "custom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomActivityType"
            },
            "description": "User-defined custom types"
          },
          "all": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomActivityType"
            },
            "description": "All types combined"
          },
          "totalTypes": {
            "type": "integer",
            "description": "Total number of types available"
          },
          "totalCustom": {
            "type": "integer",
            "description": "Number of custom types"
          }
        }
      },
      "Digest": {
        "type": "object",
        "description": "Email-ready activity digest for a time period",
        "properties": {
          "period": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly"
            ],
            "description": "Time period for the digest"
          },
          "dateRange": {
[...]
